<head>
    <title>Agregar Actividad / noteX</title>
</head>
{% extends 'app/base.html'%}

{% block body %}
{% load crispy_forms_tags %}
<br>
<h1 class="display-6 text-center"><i class="fas fa-file-import"></i> Agregar Actividad</h1>
<br>
<div class="row">
    <div class="d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card body">
                    <form action="" class="form-control" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br> 
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success"><i class="fas fa-clipboard-check"></i> Agregar Actividad!</button>
                            &nbsp;
                            <button type="reset" class="btn btn-danger"><i class="fas fa-times"></i> Borrar todo</button>

                        </div>
    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}